name: Download And Uncompress
on:
  workflow_dispatch:
    inputs:
      name:
      file_name:
        description: File name
        required: true
        default: Firefox Setup 100.0.exe
      url:
        description: URL of the file
        required: true
        default: 'https://download-installer.cdn.mozilla.net/pub/firefox/releases/100.0/win64/en-US/Firefox%20Setup%20100.0.exe'
      maximize_disk_space:
        description: Maximize disk space. Set to true if getting out of disk space error
        default: false

jobs:
  download_uncompress:
    runs-on: ubuntu-latest
    steps:
      - name: Preparing
        run: |
         cd $HOME
         mkdir Download
         mkdir Files
         sudo apt update
         sudo apt upgrade
         sudo apt install aria2
         
      - name: Maximize disk space
        if: github.event.inputs.maximize_disk_space == 'true'
        uses: easimon/maximize-build-space@v5
        with:
          remove-dotnet: true
          remove-android: true
          remove-haskell: true
          
      - name: Download file
        run: |
         cd $HOME/Download
         aria2c -x 16 -o "${{ github.event.inputs.file_name }}" "${{ github.event.inputs.url }}"
         
      - name: Uncompress file
        run: |
         cd $HOME/Download
         tar –xvzf "${{ github.event.inputs.file_name }}" –C $HOME/Files
         ls -lah $HOME/Files/
